# GLPI
**/glpi

# Mysql
**/mysql
/init.sql

# SSL
proxy/ssl/*

# Confs
proxy/confs/*

# Environment files
*.env*
!.env*-template

# Keep .gitkeep files
# To keep an empty directory, add a .gitkeep file to it
# and ignore the directory with a wildcard:
#     /path/to/dir/*
# this will ignore the content but not the director itself.
!/**/.gitkeep
